.App {
  text-align: center;
  margin-top: 180px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2em;
}

.App-sub-title {
  font-size: 1em;
}

.login-box {

}

.login-container {
  margin-top: 100px;
  margin-bottom: 200px;
}

.profile-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mimo-button {
  background: #35F5C9;
  width: 125px;
  border-radius: 12px;
  border: 2px solid #73AD21;
}
